{% extends "base.html" %}

{% block titulo %} Apostar {% endblock %}

{% block contenido_principal %}
<style>

    .column {
        float: left;
        width: 29%;
        border-radius: 10px;
        background: lightcyan;
        margin: 23px;
        padding: 5px;
    }
    .bet{
        border-radius: 10px;
        background: lightblue;
        margin: 23px;
        padding: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .child {
        width: 30%;
    }

    .text_important{
        font-size: 20px;
    }

    h2{
        alignment: center;
    }

    button{
        alignment: right;
    }
    .currency_value {
    }
    input{
        alignment: right;
    }

    #currency_value1{
        visibility: hidden;
    }

    #currency_value2{
        visibility: hidden;
    }
    #currency_value3{
        visibility: hidden;
    }



</style>

<div class="bet">
<h2>Apostar</h2>

<p class="text_important"><strong>Categoría: {{apuesta.tipodep}}</strong></p>
<p class="text_important">Fecha: {{apuesta.fecha}}</p>

    <div class="row">
        <div>
            <label for="currency">Selecciona Moneda</label>
            <select id="currency" class="autocomplete">
                <option value="1">Dollars</option>
                <option value="2">Euros</option>
                <option value="3">Pounds</option>
                <option value="4">Cardano</option>
            </select>
        </div>

        <div class="column">
            <h3> Equipo visitante : {{apuesta.visitante}} </h3>

            <p><strong>Cuota:  {{apuesta.cuotavisitante}}</strong>
                {%if apuesta.estado==="abierta"%}


            <form  method="post" action="/apuesta/apostar/{{apuesta._id.toString()}}?equipo=visitante">
            Cuantía a apostar
                <div class="child">

                    <input id="money" type="number" class="form-control" name="money" placeholder="Ej: 2.50" required="true" />
                </div>

            <input id="currency_value1" type="text" class="form-control" name="currency_value" />
                <input type="submit" value="Apostar visitante" />
            </form>
            {%endif%}
            </p>

        </div>
        <div class="column">
            <h3>Empate </h3>

                <p><strong>Cuota: {{apuesta.cuotaempate}}</strong>
                {%if apuesta.estado==="abierta"%}
                <form method="post" action="/apuesta/apostar/{{apuesta._id.toString()}}?equipo=empate">

            Cuantía a apostar
                    <div class="child">
                        <input id="money" type="number" class="form-control" name="money" placeholder="Ej: 2.50" required="true" />
                    </div>

            <input id="currency_value2" type="text" class="form-control" name="currency_value"  />
                    <input type="submit" value="Apostar empate" />



                </form>
            {%endif%}
            </p>
        </div>
        <div class="column">
            <h3> Equipo local: {{apuesta.local}}</h3>
            <p><strong>Cuota: {{apuesta.cuotalocal}}</strong>
                {%if apuesta.estado==="abierta"%}
                <form method="post" action="/apuesta/apostar/{{apuesta._id.toString()}}?equipo=local">
                        Cuantía a apostar
                    <div class="child">
                        <input id="money" type="number" class="form-control" name="money" placeholder="Ej: 2.50" required="true" />

                    </div>

            <input id="currency_value3" type="text" class="form-control" name="currency_value"  />
                    <input type="submit" value="Apostar local" />

                </form>
            {%endif%}
            </p>
        </div>
    </div>

</div>
<script>

    $(".form-control").val($("#currency").find('option').filter(':selected').text());
    $('#currency').change(function(){ // when a option is selected
        $(".form-control").val($(this).find('option').filter(':selected').text());
    });
</script>




{% endblock %}