{% extends "base.html" %}
{% block titulo %} Listado de apuestas {% endblock %}
{% block contenido_principal %}


<h2>Mis apuestas</h2>
<div class="table-responsive">
    <table class="table table-hover">

        <thead>
        <tr>
            <th> </th>
            <th>Tipo de deporte</th>
            <th>Equipo local</th>
            <th>Equipo visitante</th>
            <th>Estado de la apuesta</th>
            <th>Apostado a</th>
            <th>Cantidad</th>
            <th>Cuota de Victoria</th>
            {% if usuarioSesion.rol === 'admin'%}
            <th>Abrir/Cerrar</th>

            {% endif %}

        </tr>
        </thead>
        <tbody>
        <!-- Inicio del Bloque oferta -->
        {% for apuesta in apuestas %}
        <tr>
            <td></td>
            <td>{{ apuesta.tipodep }}</td>
            <td>{{ apuesta.local }} </td>
            <td>{{ apuesta.visitante }} </td>
            {% if usuarioSesion.rol === 'user'&& apuesta.estado === 'abierta'%}
                <td>Abierta</td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'suspendida'%}
            <td>
                Suspendida
            </td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'cerrada'%}
            <td> Cerrada </td>
            {% endif %}


            <td>{{apuesta.apuesta_usuario.equipo}}</td>
            <td>{{apuesta.apuesta_usuario.money}}</td>
            <td>{{apuesta.apuesta_usuario.cuota}}</td>


            {% if apuesta.estado === 'abierta' &&usuarioSesion.rol !== 'admin'%}
                <td> Sin resultado</td>
            {% elif apuesta.apuesta_usuario.cobrada %}
            <td> Cobrada</td>
            {% elif apuesta.apuesta_usuario.ganada && apuesta.estado==='cerrada'%}
                <td><a href="/apuesta/cobrar/{{apuesta.apuesta_usuario._id.toString()}}">Cobrar apuesta</a></td>
            {% elif !apuesta.apuesta_usuario.ganada && apuesta.estado==='cerrada'%}
                <td> Perdida</td>

            {% endif%}
            {% if usuarioSesion.rol === 'admin' && apuesta.estado === 'abierta'%}
            <td>
                <a id="btCerrarApuesta" href="/apuesta/cerrar/{{ apuesta._id.toString() }}">Cerrar</a> <br>
            </td>
            {% elif usuarioSesion.rol%}
            <td>
                <a id="btApostar" href="/apuesta/apostar/{{ apuesta._id.toString() }}">Ver</a> <br>
            </td>
            {% endif %}
            <td></td>


        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}