<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block titulo %} Rashbet {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</head>
<body>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/img/logo.jpg" alt="logo"/>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            {% if usuarioSesion === null %}
            {% elif usuarioSesion.rol !== "admin" %}
            <ul class="nav navbar-nav">
                <li><strong><p style="margin-top: 16px; color: white" id="title">RAS-BET</p></strong></li>
                <li id="buscarapuestas"><a href="/evento/list">Ver eventos</a></li>
                <li id="misapuestas"><a href="/apuesta/misapuestas">Mis Apuestas</a></li>
                <li id="notificaciones"><a href="/apuesta/notificaciones">Notificaciones</a></li>
                <li id="monedero"><a href="/usuario/monedero">Monedero</a></li>
            </ul>
            {% elif usuarioSesion.rol === "admin" %}
            <ul class="nav navbar-nav">
                <li id="listarusuarios"><a href="/usuario/list">Listar usuarios</a></li>
                <li id="listarapuestas"><a href="/evento/list">Listar eventos</a></li>
                <li id="crearapuestas"><a href="/evento/agregar">Crear eventos</a></li>
            </ul>
            {% endif%}
            <ul class="nav navbar-nav navbar-right">
                {% if usuarioSesion === null %}
                <li><a href="/registrarse" id="registarse"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                <li><a href="/identificarse" id="identificarse"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
                {% else %}
                {%if usuarioSesion.rol !== "admin" %}
                <li><a><span class="glyphicon glyphicon-euro"> </span>{{ usuarioSesion.money }}</a></li>
                <li><a>$ {{ usuarioSesion.money_dolar }} </a></li>
                <li><a>£ {{ usuarioSesion.money_libra }} </a></li>
                <li><a><span class="glyphicon glyphicon-bitcoin"> </span>{{ usuarioSesion.money_cripto }}</a></li>
                {%endif%}}
                <li><a href="/desconectarse"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
                    {% endif%}
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <script>
        var mensaje = getUrlParameter('mensaje');
        var tipoMensaje = getUrlParameter('tipoMensaje');
        // Otra forma de recuperar los parametros de la url pero no compatible con IE
        /* const params = new URLSearchParams(location.search);
        var mensaje = params.get("mensaje");
        var tipoMensaje = params.get("mensaje");*/
        if ( mensaje != ""){
            if (tipoMensaje == "" ){
                tipoMensaje = 'alert-info';
            }
            $( ".container" )
                .append("<div class='alert "+tipoMensaje+"'>"+mensaje+" </div>");
        }
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' :
                decodeURIComponent(results[1].replace(/\+/g, ' '));
        };
    </script>
    <!-- Contenido -->
    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}
</div>


</body>
</html>