{% extends "base.html" %}
{% block titulo %} Listado de apuestas {% endblock %}
{% block contenido_principal %}

<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/apuesta/buscar">
            <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="introduzca un tipo de deporte. ej: futbol, basket, tenis..." name="busqueda"/>
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit" className="btn">
                    <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<h2>Listado de eventos</h2>
<div class="table-responsive">
    <table class="table table-hover">

        <thead>
        <tr>
            <th> </th>
            <th>Tipo de deporte</th>
            <th>Equipo local</th>
            <th>Equipo visitante</th>
            <th>Cuota local</th>
            <th>Cuota visitante</th>
            <th>Cuota empate</th>
            <th>Estado de la apuesta</th>
            {% if usuarioSesion.rol === 'admin'%}
            <th>Abrir/Cerrar</th>

            {% endif %}

        </tr>
        </thead>
        <tbody>
        <!-- Inicio del Bloque oferta -->
        {% for apuesta in apuestas %}
        <tr>
            <td></td>
            <td>{{ apuesta.tipodep }}</td>
            <td>{{ apuesta.local }} </td>
            <td>{{ apuesta.visitante }} </td>
            <td>{{ apuesta.cuotalocal }} </td>
            <td>{{ apuesta.cuotavisitante }} </td>
            <td>{{ apuesta.cuotaempate }} </td>
            {% if apuesta.estado === 'abierta'%}
            <td>Abierta</td>
            {% elif apuesta.estado === 'cerrada'%}
            <td>Cerrada</td>
            {% elif apuesta.estado === 'suspendida'%}
            <td>Suspendida</td>
            {% endif %}
            {% if usuarioSesion.rol === 'admin' && apuesta.estado === 'abierta'%}
            <td>
                <a id="btCerrarApuesta" href="/evento/cerrar/{{ apuesta._id.toString() }}">Cerrar</a> <br>
            </td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'abierta'%}
            <td>
                <a id="btApostar" href="/apuesta/apostar/{{ apuesta._id.toString() }}">APOSTAR</a> <br>
            </td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'suspendida'%}
            <td>
               Suspendida
            </td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'cerrada'%}
            <td> Cerrada </td>
            {% endif %}
            <td></td>


        </tr>
        {% endfor %}
        <!-- Fin del Bloque oferta -->
        </tbody>

    </table>
</div>
{% endblock %}