{% extends "base.html" %}
{% block titulo %} Listado de apuestas {% endblock %}
{% block contenido_principal %}


<h2>Notificaciones</h2>
<p>Las siguientes apuesta han sido cerradas</p>
<div class="table-responsive">
    <table class="table table-hover">

        <thead>
        <tr>
            <th> </th>
            <th>Tipo de deporte</th>
            <th>Equipo local</th>
            <th>Equipo visitante</th>
            <th>Estado de la apuesta</th>
            {% if usuarioSesion.rol === 'admin'%}
            <th>Abrir/Cerrar</th>

            {% endif %}

        </tr>
        </thead>
        <tbody>
        <!-- Inicio del Bloque oferta -->
        {% for apuesta in apuestas %}
        <tr>
            <td></td>
            <td>{{ apuesta.tipodep }}</td>
            <td>{{ apuesta.local }} </td>
            <td>{{ apuesta.visitante }} </td>
            {% if usuarioSesion.rol === 'user'&& apuesta.estado === 'abierta'%}
            <td>Abierta</td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'suspendida'%}
            <td>
                Suspendida
            </td>
            {% elif usuarioSesion.rol === 'user' && apuesta.estado === 'cerrada'%}
            <td> Cerrada </td>
            {% endif %}

            <td>{{apuesta.money}}</td>

            <td>
                <a id="btApostar" href="/apuesta/ver/{{ apuesta._id.toString() }}">Ver</a> <br>
            </td>


        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}